* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.parent {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 350px;
  width: 330px;
  /* border: 1px solid black;
   */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
   padding: 15px;
}

.top {
  display: flex;
  justify-content: space-between;
 
  align-items: center;
  padding-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;
  margin: 3px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(151, 151, 151);
}

.logo img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.save{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.save1{
  font-size: 15px;
  color: #a4a4a4;  
}

.bookmark{
  height: 25px;
  width: 25px;
  object-fit: cover;
  align-self: center;
  color: #a4a4a4;  
}

.middle{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.heading{
  display: flex;
  margin-top: 10px;
  align-items: center;
  /* padding-left: 15px; */
}

.heading .name{
  font-size: 18px;
  font-weight: bold;

}

.heading .time{
  font-size: 12px;
  color: #a4a4a4;
  margin-left: 10px;
  margin-top: 3px;
  font-weight: bold;
}

.dtail{
  font-size: 18px;
}

.button{
  display: flex;
  align-items: center;
  gap: 10px;
}

.button p{
  font-size: 14px;
  font-weight: bold;
  background-color: #d9d9d9;
  padding: 7px;
  border-radius: 5px;
}

.botom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding-top: 15px;
  border-top: 2px solid #949494;
}

.role{
  font-size: 14px;
  font-weight: bold;
  color: #a4a4a4;
}

.botom button{
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  
}